*{padding: 0;
  margin: 0;
    box-sizing: border-box;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;

}
.profile div{
    padding: 10px;
      
}
.card .content{
    display: flex;
    gap: 20px;
    font: 20px;
}
img{
    background-color: aliceblue;
    border-radius: 200px;
    box-shadow: 5px 8px 10px rgb(238, 11, 106);
    height: 200px;
    width: 200px;
    
    margin: 20px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(57, 47, 47);
  height: 620px;
  width: 350px;
  margin: 20px;
  box-shadow: 5px 5px 4px rgb(126, 26, 25);
  border-radius: 12px;
}
.icons {
    display: flex;
    justify-content: center;     /* center all icons horizontally */
    gap: 10px;                   /* space between icons */
    margin-top: 20px;
  }
  
  .icons div {
    background: linear-gradient(rgb(240, 4, 44),rgb(202, 11, 94));     /* icon background */
    width: 50px;
    height: 50px;
    border-radius: 50%;          
    display: flex;               
    justify-content: center; 
    align-items: center;         
    transition: 0.3s ;
  }
  .icons div:hover {      
    transform: scale(1.1);
  }
  
  .icons i {
    color: white;
    font-size: 20px;             
  }
 .btn button{
        border: 4px solid rgb(43, 231, 184);
        padding: 10px 5px;
        background-color: rgb(57, 47, 47);
        width: 100%;
        outline: 0;
        color: rgb(43, 231, 184);
        letter-spacing: 2px;
        
        

    }

    .btn{
        width: 80%;
        margin: 10px;
        margin: 10px;
       

    }
    .btn div :hover{
      transform: scale(1.1);
      transition: 0.4s;
    }
    
